In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [2]:
df= pd.read_csv(r"C:\Users\Lenovo\Veri-Analizi-2\Projeler-ders\datasets\insurance.csv")

In [3]:
df.head(3)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [5]:
df=pd.get_dummies(df,columns=["sex","smoker","region"],drop_first=True)

In [6]:
y=df["charges"]
x=df.drop(columns=["charges"])

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=22,test_size=0.3)

In [10]:
lr=LinearRegression()
model=lr.fit(x_train,y_train)
model.score(x_test,y_test)

0.7398405242767804

In [11]:
rf=RandomForestRegressor(n_estimators=200)
model=rf.fit(x_train,y_train)
model.score(x_test,y_test)

0.8251237835660803

In [12]:
x.head(3)

,age,bmi,children,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.90,0,0,1,0,0,1
1,18,33.77,1,1,0,0,1,0
2,28,33.00,3,1,0,0,1,0

In [13]:
49/(1.60*1.60)

19.140624999999996

In [17]:
model.predict([[22,19,0,0,1,1,0,0]])

C:\Users\Lenovo\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([14734.876336])