In [1]:
# underfitting beklenenden az öğrenme, daha çok hata
# overfitting aşırı öğrenme, ezberleme - sadece elindekileri bilir
# balancedfitting dengeli öğrenme, parabolik

In [10]:
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [5]:
df=sns.load_dataset("diamonds")

In [6]:
df.head(3)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31

In [7]:
df=pd.get_dummies(df,columns=["cut","color","clarity"],drop_first=True)

In [8]:
df.head(3)

,carat,depth,table,price,x,y,z,cut_Premium,cut_Very Good,cut_Good,...,color_H,color_I,color_J,clarity_VVS1,clarity_VVS2,clarity_VS1,clarity_VS2,clarity_SI1,clarity_SI2,clarity_I1
0,0.23,61.5,55.0,326,3.95,3.98,2.43,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0.21,59.8,61.0,326,3.89,3.84,2.31,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0.23,56.9,65.0,327,4.05,4.07,2.31,0,0,1,...,0,0,0,0,0,1,0,0,0,0

In [9]:
y=df[["price"]]
x=df.drop("price",axis=1)

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=19,train_size=0.76)

In [12]:
lm=LinearRegression()
model=lm.fit(x_train,y_train)

In [13]:
model.score(x_test,y_test)

0.92006452446344

In [14]:
model.score(x_train,y_train)

0.9196844286376016

In [15]:
# bu ikisi arasındaki fark ne kadar azsa o kadar uyumludur,fazlaysa overfittingdir