boosting
birden fazla modelin birleşmesi n-sample modeli,
ağaç sürekli kendini geliştirerek yeni ağaçlar oluşturuyo
bu şekilde en iyi ağacı bulmaya çalışıyoruz

In [1]:
!pip install xgboost

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xgboost in c:\users\lenovo\appdata\roaming\python\python310\site-packages (2.1.0)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.23.5)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.10.0)

In [16]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb
from sklearn.model_selection import train_test_split

In [3]:
df= pd.read_csv(r"C:\Users\Lenovo\Veri-Analizi-2\Projeler-ders\datasets\heart.csv")

In [4]:
df.head(3)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1

In [5]:
y=df["output"]
x=df.drop("output",axis=1)

In [6]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.7)

In [7]:
dt= DecisionTreeClassifier()
model=dt.fit(x,y)
model.score(x,y)

1.0

In [8]:
dt= DecisionTreeClassifier()
model=dt.fit(x_train,y_train)
model.score(x_test,y_test)

0.6854460093896714

In [9]:
rf= RandomForestClassifier(n_estimators=200)
model=rf.fit(x_train,y_train)
model.score(x_test,y_test)

0.8075117370892019

In [10]:
rf=xgb.XGBClassifier()
model=rf.fit(x_train,y_train)
model.score(x_test,y_test)

0.8028169014084507

In [11]:
df.shape

(303, 14)

In [12]:
df.sample()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
170,56,1,2,130,256,1,0,142,1,0.6,1,1,1,0

In [13]:
insan=df.sample().drop("output",axis=1).values

In [14]:
model.predict(insan)

array([1])